[includeIf "gitdir:~/"]
  path = ~/dotfiles/git/personal.gitconfig

[includeIf "gitdir:~/Codes/"]
  path = ~/dotfiles/git/gdt.gitconfig

[includeIf "gitdir:~/Codes/personal/"]
  path = ~/dotfiles/git/personal.gitconfig

[url "ssh://git@github-gdt/good-doctor-technology/"]
  insteadOf = https://github.com/good-doctor-technology/

[includeIf "gitdir:~/aetosky/"]
  path = ~/dotfiles/git/aetosky.gitconfig

[core]
  editor = zed --wait
  excludesfile = ~/.gitignore

[alias]
  s = status
  l = log --graph --abbrev-commit --decorate
