[user]
  name = Radhiansya Zain Antriksa Putra
  email = 58207190+RadhiansyaZ@users.noreply.github.com

[includeIf "gitdir:~/Codes/"]
  path = ~/.config/git/gdt.gitconfig

[url "ssh://git@github-gdt/good-doctor-technology/"]
  insteadOf = https://github.com/good-doctor-technology/

[includeIf "gitdir:~/aetosky/"]
  path = ~/.config/git/aetosky.gitconfig

[core]
  editor = zed --wait
  excludesfile = ~/.gitignore

[alias]
  s = status
  l = log --graph --abbrev-commit --decorate
[url "ssh://git@gitlab.aetosky.com/"]
	insteadOf = https://gitlab.aetosky.com/
[init]
	defaultBranch = main
